@page "/persons/create"
@inject HttpClient _client
@inject NavigationManager _navManager 

<h3 class="card-title">Create New Persons</h3>
<hr />
<br />
<FormComponent ButtonText="Create Person" OnValidSubmit="@CreatePerson" person="person" />
@code {

    Person person = new Person();

    private async Task CreatePerson()
    {
        await _client.PostAsJsonAsync(Endpoints.PersonsEndpoint, person);
        _navManager.NavigateTo("/persons");
    }
}
