@page "/medias/create"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New Medias</h3>
<hr />
<br />
<FormComponent ButtonText="Create Media" OnValidSubmit="@CreateMedia" media="media"/>

@code {

    Media media = new Media();

    private async Task CreateMedia()
    {
        await _client.PostAsJsonAsync(Endpoints.MediasEndpoint, media);
        _navManager.NavigateTo("/medias");
    }

}
